{% extends 'base.html' %}

{% block content %}

<div class="container py-4">

    <div class="card">

        <div class="card-body">

            <h3 class="mb-4">

                Category Offer

            </h3>

            <form method="post">

                {% csrf_token %}

                {{ form.as_p }}

                <button
                    type="submit"
                    class="btn btn-dark"
                >

                    Save

                </button>

            </form>

        </div>

    </div>

</div>

{% endblock %}