{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">

    <!-- HERO -->

    <div class="hero-section p-5 rounded">

        <div class="row align-items-center">

            <div class="col-md-6">

                <h1>

                    {% if top_book %}

                        {{ top_book.title }}

                    {% else %}

                        Discover Your Next Favorite Book

                    {% endif %}

                </h1>

                <p class="lead">

                    {% if top_book %}

                        One of the most loved books among ReadZone readers.

                    {% else %}

                        Discover your next favorite book.

                    {% endif %}

                </p>

            </div>

            <div class="col-md-6 text-center">

                {% if top_book and top_book.cover_image %}

                <img
                    src="{{ top_book.cover_image.url }}"
                    class="img-fluid rounded"
                    style="
                        {% comment %} height: 400px;
                        width: 100%;
                        object-fit: cover; {% endcomment %}
                        max-height: 350px;
                        width: auto;
                        object-fit: contain;
                    "
                >

                {% endif %}

            </div>

        </div>

    </div>

    <!-- NEW ARRIVALS -->

    <h2 class="mt-5 mb-4">
        New Arrivals
    </h2>

    <div class="row">

        {% for book in new_arrivals %}

        <div class="col-md-3 mb-4">

            <div class="card book-card h-100">

                {% if book.cover_image %}

                <img
                    src="{{ book.cover_image.url }}"
                    class="card-img-top"
                    style="height:300px;object-fit:cover;"
                >

                {% endif %}

                <div class="card-body">

                    <h5>
                        {{ book.title }}
                    </h5>

                    <p>
                        {{ book.author }}
                    </p>

                    <h6>
                        ₹{{ book.effective_price }}
                    </h6>

                    <a
                        href="{% url 'product_detail' book.slug %}"
                        class="btn btn-dark btn-sm"
                    >
                        View Book
                    </a>

                </div>

            </div>

        </div>
        {% endfor %}

    </div>

    <!-- QUOTE -->

    <div class="quote-banner p-5 rounded my-5 text-center">

        <h3>
            Today a reader, tomorrow a leader.
        </h3>

    </div>

    <!-- BEST SELLERS -->

    <h2 class="mb-4">
        Best Sellers
    </h2>

    <div class="row">

        {% for book in best_sellers %}

        <div class="col-md-3 mb-4">

            <div class="card book-card h-100">

                {% if book.cover_image %}

                <img
                    src="{{ book.cover_image.url }}"
                    class="card-img-top"
                    style="height:300px;object-fit:cover;"
                >

                {% endif %}

                <div class="card-body">

                    <h5>
                        {{ book.title }}
                    </h5>

                    <p>
                        {{ book.author }}
                    </p>

                    <h6>
                        ₹{{ book.effective_price }}
                    </h6>

                    <a
                        href="{% url 'product_detail' book.slug %}"
                        class="btn btn-dark btn-sm"
                    >
                        View Book
                    </a>

                </div>

            </div>

        </div>

        {% endfor %}

    </div>

</div>

{% endblock %}